<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>Memos</title>
  <!-- 'viewport' is used by bootstrap to respond to device size -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- BootStrap-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>

  <!-- JQuery and JqueryUI from a content distribution network (CDN) -->
   <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <!-- moment.js is the JavaScript equivalent of arrow.py -->
  <script src="{{ url_for('static', filename="js/moment.min.js") }}"></script>
  
  <!-- Supporting Markdown-->
  <script src="{{ url_for('static', filename="js/showdown.min.js") }}"></script>
  <script src="{{ url_for('static', filename="js/showdown-table.min.js") }}"></script>
  
  <script src="{{ url_for('static', filename="js/main.js") }}"></script>
  
  <link href="https://fonts.googleapis.com/css?family=Oxygen:300,400" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="{{ url_for('static', filename="css/animate.css") }}">
  <!-- Icomoon Icon Fonts-->
  <link rel="stylesheet" href="{{ url_for('static', filename="css/icomoon.css") }}">
  <!-- Bootstrap  -->
  <link rel="stylesheet" href="{{ url_for('static', filename="css/bootstrap.css") }}">
	<!-- Magnific Popup -->
  <link rel="stylesheet" href="{{ url_for('static', filename="css/magnific-popup.css") }}">
  <!-- Flexslider  -->
  <link rel="stylesheet" href="{{ url_for('static', filename="css/flexslider.css") }}">
  <!-- Theme style  -->
  <link rel="stylesheet" href="{{ url_for('static', filename="css/style.css") }}">
  <!-- Our own style sheet -->
  <link rel="stylesheet" href="{{ url_for('static', filename="css/memos.css") }}">

</head>
<body>
<!-- Flashed messages before content -->
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<!-- <div class="fh5co-loader"></div> -->
<div id="page">
  <nav class="fh5co-nav" role="navigation">
		<div class="container-wrap">
			<div class="top-menu">
				<div class="row">
					<div class="col-xs-2">
						<div id="fh5co-logo"><a href="/">Zhipeng's First Blog</a></div>
					</div>
					<div class="col-xs-10 text-right menu-1">
						<ul>
              <li class="active"><a href="/">Blog</a></li>
              {% if g.LoginProof is defined %}
                {% if g.LoginProof %}
                  <script type="text/javascript">
                    var has_login = true;
                  </script>
                  <li><a id="Add_memo">Add</a></li>
                  <li><a id="Delete_selected_memos">Delete_selected_memos</a></li>
                  <li><a id="check_all">(De)Select_all</a></li>
                {% endif %}
              {% endif %}
						</ul>
					</div>
				</div>
			</div>
		</div>
  </nav>
  <center>
    <div class="container-wrap">
      <div id="dialog" style="display: none;"><p id="temp_window" /></div>
      <div class="fh5co-blog" id="today"><h2>Today</h2></div>
      <div class="fh5co-blog" id="incoming"><h2>Incoming</h2></div>
      <div class="fh5co-blog" id="past"><h2>Past</h2></div>
    </div>
  </center>
</div>
</body>
</html>
